.homepage {
    width: 100%;
    margin-top: 60px;
    background-color: #f7fff1;
    
    h2 {
        font-size: 30px;
        margin-top: -23px;
        text-align: center;
    }
    .hmp-img {
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);     
    }
}