.category {
  padding: 30px;
  align-items: center;

  .link {
    text-decoration: none;
    position: relative;
    left: 38%;
    background-color: #f7fff1;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23667e99' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    transform: translate(-40%);
    border: 2px solid transparent;
    margin-right: 43px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    border: 2px solid #001d3d;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #001d3d;
    &:hover {
      background-color: #001d3d;
      padding: 10px 20px;
      border: 2px solid #f7fff7;
      color: #f7fff7;
    }
  }
}
