h2 {
  text-align: center;
  font-size: 38px;
  text-shadow: 1px 1px 2px pink;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.load-more-btn-tech {
  margin: 30px;
  position: relative;
  left: 47.4%;
  transform: translate(-50%);
  padding: 8px 30px;
  width: 270px;
  background-color: #ffb703;
  outline: none;
  border: 3px solid #121212;
  font-size: 18px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &:hover {
    background-color: #121212;
    color: #ffb703;
    transition: 300ms;
  }
}
.card-main {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: red;
  }
  .card {
    margin-top: 30px;
    width: 400px;
    height: 500px;
    position: relative;
    background-color: #121212;
    color: #e3e7e3;
    text-align: left;
    box-shadow: rgba(10, 10, 10, 0.9) 0px 1px 2px 5px,
      rgba(60, 64, 67, 0.05) 0px 1px 5px 17px;
    z-index: 9999;
    &:hover {
      opacity: 0.8;
      transition: 200ms;
    }
    img {
      width: 100%;
      height: 221px;
      object-fit: cover;
      background-position: center;
    }
    h6 {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: normal;
      padding: 0 20px;
      opacity: 0.7;
    }
    .a {
      position: absolute;
      top: 90%;
      left: 77%;
      padding: 8px 10px;
      color: #f7fff7;
      text-decoration: none;
      border: 2px solid #f7f7f7;
      text-transform: capitalize;
      &:hover {
        background-color: #121212;
        color: #ffb703;
        transition: 300ms;
      }
    }
  }
}
input {
  margin-right: 30px;
  outline: none;
  border: 2px solid #b1b0c4;
  margin-top: -34px;
  margin-right: -15px;
  padding: 10px 38px;
  border-radius: 3px;
  position: absolute;
  right: 39px;
  caret-color: #f7fff7;
  color: #121212;
  background-color: #ffb703;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &::placeholder {
    color: #121212;
    letter-spacing: 1px;
  }
}
